<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clairepelissier.hearingaidsconnector" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HearingAidsConnector</name>
    <description>
        First application.
    </description>
    <author email="pelissier.claire@gmail.com" href="https://github.com/Claironp">
        Claire Pelissier
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="5.3.6" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <gap:platform name="ios" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <icon gap:role="default" src="www/images/icon/base.png" />
    <icon gap:platform="ios" height="40" src="www/images/icon/ios/icon-40.png" width="40" />
    <icon gap:platform="ios" height="50" src="www/images/icon/ios/icon-50.png" width="50" />
    <icon gap:platform="ios" height="60" src="www/images/icon/ios/icon-60.png" width="60" />
    <icon gap:platform="ios" height="180" src="www/images/icon/ios/icon-60@3x.png" width="180" />
    <icon gap:platform="ios" height="144" src="www/images/icon/ios/icon-72@2x.png" width="144" />
    <icon gap:platform="ios" height="152" src="www/images/icon/ios/icon-76@2x.png" width="152" />
    <icon gap:platform="ios" height="58" src="www/images/icon/ios/icon-small@2x.png" width="58" />
    <icon gap:platform="ios" height="114" src="www/images/icon/ios/icon@2x.png" width="114" />
    <icon gap:platform="ios" height="80" src="www/images/icon/ios/icon-40@2x.png" width="80" />
    <icon gap:platform="ios" height="100" src="www/images/icon/ios/icon-50@2x.png" width="100" />
    <icon gap:platform="ios" height="120" src="www/images/icon/ios/icon-60@2x.png" width="120" />
    <icon gap:platform="ios" height="72" src="www/images/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="76" src="www/images/icon/ios/icon-76.png" width="76" />
    <icon gap:platform="ios" height="29" src="www/images/icon/ios/icon-small.png" width="29" />
    <icon gap:platform="ios" height="40" src="www/images/icon/ios/icon.png" width="40" />
    <gap:splash gap:platform="ios" height="1136" src="www/images/screen/ios/Default-568h@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="2208" src="www/images/screen/ios/Default-736h.png" width="1242" />
    <gap:splash gap:platform="ios" height="1334" src="www/images/screen/ios/Default-667h.png" width="750" />
    <gap:splash gap:platform="ios" height="2208" src="www/images/screen/ios/Default-Landscape-736h.png" width="1242" />
    <gap:splash gap:platform="ios" height="1536" src="www/images/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
    <gap:splash gap:platform="ios" height="768" src="www/images/screen/ios/Default-Landscape~ipad.png" width="1024" />
    <gap:splash gap:platform="ios" height="2048" src="www/images/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
    <gap:splash gap:platform="ios" height="1024" src="www/images/screen/ios/Default-Portrait~ipad.png" width="768" />
    <gap:splash gap:platform="ios" height="960" src="www/images/screen/ios/Default@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="480" src="www/images/screen/ios/Default~iphone.png" width="320" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~3.9.1" />
</widget>
