<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clairepelissier.hearingaidsconnector" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HearingAidsConnector</name>
    <description>
        First application.
    </description>
    <author email="pelissier.claire@gmail.com" href="https://github.com/Claironp">
        Claire Pelissier
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <icon src="www/images/icon/base.png" />
    <icon gap:platform="ios" height="40" width="40" src="www/images/icon/ios/icon-40.png" />
    <icon gap:platform="ios" height="50" width="50" src="www/images/icon/ios/icon-50.png" />
    <icon gap:platform="ios" height="60" width="60" src="www/images/icon/ios/icon-60.png" />
    <icon gap:platform="ios" height="180" width="180" src="www/images/icon/ios/icon-60@3x.png" />
    <icon gap:platform="ios" height="144" width="144" src="www/images/icon/ios/icon-72@2x.png" />
    <icon gap:platform="ios" height="152" width="152" src="www/images/icon/ios/icon-76@2x.png" />
    <icon gap:platform="ios" height="58" width="58" src="www/images/icon/ios/icon-small@2x.png" />
    <icon gap:platform="ios" height="114" width="114" src="www/images/icon/ios/icon@2x.png" />
    <icon gap:platform="ios" height="80" width="80" src="www/images/icon/ios/icon-40@2x.png" />
    <icon gap:platform="ios" height="100" width="100" src="www/images/icon/ios/icon-50@2x.png" />
    <icon gap:platform="ios" height="120" width="120" src="www/images/icon/ios/icon-60@2x.png" />
    <icon gap:platform="ios" height="72" width="72" src="www/images/icon/ios/icon-72.png" />
    <icon gap:platform="ios" height="76" width="76" src="www/images/icon/ios/icon-76.png" />
    <icon gap:platform="ios" height="29" width="29" src="www/images/icon/ios/icon-small.png" />
    <icon gap:platform="ios" height="40" width="40" src="www/images/icon/ios/icon.png" />
    <gap:splash gap:platform="ios" height="1136" width="640" src="www/images/screen/ios/Default-568h@2x~iphone.png" />
    <gap:splash gap:platform="ios" height="2208" width="1242" src="www/images/screen/ios/Default-736h.png" />
    <gap:splash gap:platform="ios" height="1334" width="750" src="www/images/screen/ios/Default-667h.png" />
    <gap:splash gap:platform="ios" height="2208" width="1242" src="www/images/screen/ios/Default-Landscape-736h.png" />
    <gap:splash gap:platform="ios" height="1536" width="2048" src="www/images/screen/ios/Default-Landscape@2x~ipad.png" />
    <gap:splash gap:platform="ios" height="768" width="1024" src="www/images/screen/ios/Default-Landscape~ipad.png" />
    <gap:splash gap:platform="ios" height="2048" width="1536" src="www/images/screen/ios/Default-Portrait@2x~ipad.png" />
    <gap:splash gap:platform="ios" height="1024" width="768" src="www/images/screen/ios/Default-Portrait~ipad.png" />
    <gap:splash gap:platform="ios" height="960" width="640" src="www/images/screen/ios/Default@2x~iphone.png" />
    <gap:splash gap:platform="ios" height="480" width="320" src="www/images/screen/ios/Default~iphone.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
