@import (less) "ratchet/dist/css/ratchet.css";
@import (less) "ratchet/dist/css/ratchet-theme-ios.css";

@import "font-awesome/less/font-awesome.less";

@fa-font-path: "../fonts/font-awesome";

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

#tab-accessory {
    .accessory-intro {
        text-align: center;
        background: #fff;
        margin-bottom: 20px;
        padding: 10px 0px;
        margin-top: 10px;

        img {
            display: inline-block;
        }

        h1 {

        }
    }
}

.accessories-table-view {
    .media-object {
        width: 30%;
        height: 100px;

        img {
            max-width: 100%;
            max-height: 100%;
            margin: 0px auto;
            display: block;
        }
    }
}


.couleur-bleu {color : blue;
}

