@import (less) "ratchet/dist/css/ratchet.css";
@import (less) "ratchet/dist/css/ratchet-theme-ios.css";

#tab-accessory {
    .accessory-intro {
        text-align: center;
        background: #fff;

        img {
            display: inline-block;
        }

        h1 {

        }
    }
}
